.More{
    padding: 20px;
    margin-top: 15px;

    width: 100%;
    background-color: white;

    border-radius: 8px;
    text-decoration: none;

    color: #0041CB;
    font-size: 18px;
    font-weight: 600;
    // &:hover{
    //     color: white;
    //     background-color: #0041CB;
    // }

    img{
        height: 16px;
        margin-right: 10px;
    }
}