beautifulsoup4==4.12.3
langchain==0.1.13
langchain-community==0.0.29
openai==1.14.3
Requests==2.31.0
scikit-learn==1.4.1.post1
toml==0.10.2
transformers==4.39.2
sentence-transformers==2.6.1
chromadb==0.4.24
grpcio==1.62.1
tokenizers==0.15.2
torch==2.2.2
tiktoken==0.6.0
sentencepiece==0.2.0
protobuf==4.25.3
huggingface-hub==0.22.2
unstructured==0.12.6
Markdown==3.5.2
