.MsgInfo{
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    margin-right: 20px;

    min-width: 70px;

    // border-radius: 8px 8px 0 8px;
    border-radius: 8px;

    background-color: white;

    font-weight: 400;
    color: #0041CB;

    

    .name{
        font-size: 12px;
        color: #8D93A1;
    }

    .text{
        word-wrap: break-word;
        padding: 20px;
        padding-bottom: 10px;
    }


    .status{
        font-size: 12px;
        color: #8D93A1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 5px;
        padding-bottom: 5px;
        
        .time{
            font-size: 12px;
            color: #8D93A1;
            display: flex;
            justify-content: flex-end;
        }

        img{
            height: 10px;
            width: 10px;
            margin: 0 4px;
        }
    }
}

$mobileWidth: 587px;
@media screen and (max-width: $mobileWidth) {
    .MsgInfo{
        justify-content: flex-start;

        // color: #000000;
        // font-size: 16px;

        margin: 0%;
        margin-top: 20px;
        margin-left: 20px;
        // padding: 20px;

        border-radius: 8px 8px  8px 0;

        font-weight: 400;
    }
}