.Link{
    color: white;

    cursor: pointer;
    background-color: #ffffff2c;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;

    width: 100%;

    &:hover{
        color: white;
    }

    text-decoration: none;
}