.MyMessage{
    justify-content: flex-end;

    display: flex;
    flex-direction: row;
    align-items:end;

    width: 100%;
    border-radius: 16px;

    img{
        height: 70px;
        width: 70px;
    }
}

$mobileWidth: 587px;
@media screen and (max-width: $mobileWidth) {
    .MyMessage{
        justify-content: flex-start;

        img{
            height: 50px;
            width: 50px;
        }
    }
}