#App{
    display: flex;
    align-items: start;

    height: calc(100vh - 100px);

    padding: 0 10%;

    background-color: #0360D3;
}

@media screen and (max-width: 995px) {
    #App{
        padding: 0 5%;
    }
}

@media screen and (max-width: 642px) {
    #App{
        height: calc(100vh - 50px);
    }
}