@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

// $mobileWidth: 587px !global;
// $tabletWidth: 995px;

// $headerHeight: 100px;
// $desktopWidth: 1440px;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.exo2{
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
}
.exo{
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
}