$headerHeight: 100px;

#Header{
    width: 100%;
    height: $headerHeight;
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    // justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #011E54;

    .logo {
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;

        img{
            height: 70%;
            margin-right: 10px;
        }

        span{
            .name{
                color: white;
                font-size: 36px;
                padding-right: 5px;
                font-weight: bold;
            }

            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 32px;
            color: rgb(212, 211, 211);
            // font-weight: 1;
        }
    }
}

@media screen and (max-width: 642px) {
    #Header{
        $headerHeight: 50px;
        height: $headerHeight;
        .logo {
    
            img{
                height: 40px;
            }
    
            span{
                font-size: 16px;
                .name{
                    font-size: 12px;
                }
    
            }
        }
    }
    
}